*{
	margin: 0;
	padding: 0;	
	font-family : verdana;
	letter-spacing : normal;
	font-weight: normal;
	font-size: 12px;
}

BODY {
	background-color : #ffffff;
	padding : 0;
	margin : 0;
}

#main{
	background-color : #ffffff;
	padding-top : 11px;
	padding-bottom : 100px;
	padding-left : 50px;
	padding-right : 10px;
	text-align : left;
	line-height : 17px;
	text-indent : -1px;
}

A.red_all_underline {
	color: #FF0033;
	text-decoration: none;
}

A.red_all_underline:hover {
	color: #FF0033;
	text-decoration: underline;
}

div.frame_grey{
	background-color : #ffffff;
	padding : 22px 0px 0px 0px;
	margin-bottom : 8px;
	margin-top : 5px;
	text-align : left;
	margin-right : 9px;
}


div.frame_white{
	background-color : #ffffff;
	width : 877px;
	color : #666666;
	padding : 5px 0px 7px 9px;
	text-align : left;
	border: solid;
	border-color: #666666;
	border-width : 1px 1px 1px 1px;
	margin-left : 0;
	margin-right : 9px;
	line-height : 20px;
	margin-top : 9px;
	margin-bottom : 0;
}


.player{
	margin : 15px 0px 1px 0;
}

.video_name{
	font-size : 24px;
	text-align : left;
	padding-bottom : 6px;
	text-indent : -3px;
}

.note{
	font-weight : bold;
	text-align : left;
	margin-top : 48px;
	margin-bottom : 2px;
	font-size : 13px;
	padding-right: 10px;
	margin-right: 0px;
}

.upload{
	font-weight : bold;
	text-align : left;
	margin-top : 18px;
	margin-bottom : 2px;
	font-size : 13px;
}

.files{
	text-align : left;
	line-height : 20px;
	margin-top : 9px;
}

.copy{
	text-align : left;
	font-weight : bold;
	padding-top : 42px;
	margin-bottom : 10px;
	font-size : 13px;
}

.leftfloat{
	float: left;
	line-height : 40px;
}

.clear{
	clear: both;
}